<style>
	header#header, footer#footer{ display: none; } body{background-color: #F9F9F9;}
</style>
<section class="header">
	<div class="container clearfix">
		<div class="col-xs-6">
			<div class="logo">
				<a ui-sref="home">Wills & Trusts</a>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="progress-wrap">
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="widget-wrap">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<div class="title">
				I have no children.
			</div>
			<div class="form-wrap clearfix">
				<div class="children clearfix">
					<button ng-click="substractChild()" class="decrese">-</button>
					<input class="child" type="text" ng-model="child">
					<button ng-click="addChild()" class="increse">+</button>
				</div>
			</div>
			<div class="button-wrap clearfix">
				<div class="col-md-6 text-left p-0">
					<button class="back" ng-click="back()">
						<i class="fa fa-angle-double-left" aria-hidden="true"></i>
						Back
					</button>
				</div>
				<div class="col-md-6 text-right p-0">
					<button class="done" ng-click="goTo('summary')">Next</button>
				</div>
			</div>
		</div>
	</div>
</section>