<style>header#header{display:none;}footer#footer{display:none;} body{background-color: #F9F9F9}</style>
<header class="other-pages">
    <div class="container">
        <div class="col-md-3">
            <ul class="logo-sec text-left">
                <li><a ui-sref="home">Wills & Trusts</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <ul class="nav-sec text-right">
                <li><a ng-class="{ current: isActive('/')}" ui-sref="#">Summary</a></li>
                <li><a ng-class="{ current: isActive('/will')}" ui-sref="#">Edit people</a></li>
                <li><a ng-class="{ current: isActive('/createTrust')}" ui-sref="#">Preferences</a></li>
                <li><a ng-class="{ current: isActive('/login')}" ui-sref="#">Earn rewards</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="page-progress">
    <span class="percentage" style="width: 50%;"></span>
</div>

<section class="basic">
	<div class="container">
		<div class="col-md-6">
			<div class="about-yourself">
                <div class="title">
                    Who would you like to inherit your estate?
                </div>
                <form action="">
                    <div class="added-options">
                        <ul>
                            <li data-toggle="modal" data-target=".page-modal">
                                <div class="summery-wrap">
                                    <div class="title">Adeyemi Adewale</div>
                                    <div class="date">23/09/1987</div>
                                </div>
                                <div class="edit">
                                    <i class="material-icons">&#xE147;</i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="add-options">
                        <ul>
                            <li>
                                <span data-toggle="modal" data-target=".page-modal"><i class="fa fa-plus" aria-hidden="true"></i> Add another beneficiary </span>
                            </li>
                        </ul>
                    </div>
                    <div class="button-wrap clearfix">
                        <div class="col-md-6 text-left p-0">
                            <button class="back" ng-click="back()">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                Back
                            </button>
                        </div>
                        <div class="col-md-6 text-right p-0">
                            <button class="done">Save and Proceed</button>
                        </div>
                    </div>
                </form>
            </div>
		</div>	
		<div class="col-md-6">
            <div class="page-note">
                <p>
                    In the next steps you'll choose specific percentage splits and what should happen if any of these people die before you.
                </p>
            </div>
		</div>	
	</div>
</section>

<footer class="other-pages" class="clearfix">
    <div class="container">
        <div class="col-md-6">
            <div class="privacy text-left">
                <ul>
                	<li><a href="">Privacy</a></li>
                	<li><a href="">Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="links text-right">
                <ul>
                	<li><a href="">Contact</a></li>
                	<li><a href="">Help</a></li>
                	<li><a href="">Pricing</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade page-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-md page-modal-wrap" role="document">
    <div class="modal-content page-modal">
        <div class="header-section clearfix">
            <span class="text">Add a new contact</span>
            <span class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">&#xE14C;</i></span>
        </div>
        <div class="content-section">
            <form action="">
                <div class="form-wrap">
                    <label for="">Contact's full name</label>
                    <input type="email" placeholder="Contact's full name">
                </div>
                <div class="form-wrap">
                    <label for="">Contact's email address</label>
                    <input type="email" placeholder="Contact's email address">
                </div>
                <div class="form-wrap">
                    <label for="">Your contact's date of birth</label>
                    <input type="email" placeholder="Your contact's date of birth">
                </div>
                <button data-dismiss="modal" ng-click="showAdditon = true" aria-label="Close">Save Contact</button>
            </form>
        </div>
    </div>
  </div>
</div>