<section class="banner-section clearfix">
	<div class="banner-content-wrap">
		<div class="col-md-7">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="banner-caption">
					The safest way to make your will..
				</h1>
				<div class="subtitle">
					Secured and convenient way to protect your loved ones. Tell us where you live to get started.
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="banner-action-wrap">
				<a ng-click="goTo('signup')" class="active">I live in Lagos</a>
				<a ng-click="goTo('elsewhere')"> I live elsewhere</a>
			</div>
		</div>
		<div class="col-md-5 hidden-sm hidden-xs">
			<div class="img-wrap">
				<img src="images/family_.png" alt="">
			</div>
		</div>
	</div>
</section>

<section class="our-selling-points">
	<div class="container">
		<div class="section-title-wrap">
			<span class="section-title">How it works in just 15 minutes!</span>
		</div>
		<div class="selling-point-wrap">
			<div class="col-md-6">
				<div class="img-caption" style="background-image: url('images/tab-1.png');"></div>
			</div>	
			<div class="col-md-5 col-md-offset-1">
				<div class="img-description">
					<ul>
						<li>
							<div class="description-wrap clearfix">
								<span>1</span>
								<div class="title-wrap">
									<div class="title">Answer a few simple questions</div>
									<div class="caption">
										ratione. Necessitatibus odio asperiores dolores placeat praesentium at distinctio, quasi quidem!
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="description-wrap clearfix">
								<span>2</span>
								<div class="title-wrap">
									<div class="title">Print and download instantly</div>
									<div class="caption">
										ratione. Necessitatibus odio asperiores dolores placeat praesentium at distinctio, quasi quidem!
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="description-wrap clearfix">
								<span>3</span>
								<div class="title-wrap">
									<div class="title">Schedule an execution</div>
									<div class="caption">
										ratione. Necessitatibus odio asperiores dolores placeat praesentium at distinctio, quasi quidem!
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="description-wrap clearfix">
								<span class="last">4</span>
								<div class="title-wrap">
									<div class="title">Register your biometrics</div>
									<div class="caption">
										ratione. Necessitatibus odio asperiores dolores placeat praesentium at distinctio, quasi quidem!
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>	
	</div>
</section>

<section class="experts">
	<div class="container">
		<div class="col-md-6">
			<div class="info-sec">
				<div class="title">Speak or Chat with our Experts</div>
				<ul>
					<li><i class="fa fa-clock-o" aria-hidden="true"></i> 9am - 6pm, Monday to Sunday</li>
					<li><i class="fa fa-bolt" aria-hidden="true"></i>3 minute response time</li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>Live chat & phone support</li>
					<li><i class="fa fa-skype" aria-hidden="true"></i></i>Video call / Skype with our Experts</li>
					<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Every will reviewed by our Experts</li>
					<li><i class="fa fa-lock" aria-hidden="true"></i>Private and secure with bank grade encryption</li>
				</ul>
				<div class="button-sec">
					<button class="question">Ask a Question</button>
					<button class="number">08060 000 000</button>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="avata-sec">
				<span class="avata big" style="background-image: url('images/1.jpg');"></span>
				<span class="avata small first" style="background-image: url('images/2.jpg');"></span>
				<span class="avata small second" style="background-image: url('images/3.jpg');"></span>
			</div>
		</div>
	</div>
</section>

<section class="geography">
	<div class="container">
		<div class="col-md-7">
			<div class="map-wrap">
				<i class="mg map-ng mg-3x"></i>
				<span class="marker animated bounce"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
			</div>
		</div>
		<div class="col-md-5">
			<div class="map-info">
				<div class="title"></i>Trusted by thousands across the Nigeria</div>
				<div class="caption">Wills & Trusts is the Nigeria’s #1 will writer, as voted by our customers all around the country.</div>
			</div>
		</div>
	</div>
</section>



