<section class="banner-section clearfix">
	<div class="banner-content-wrap">
		<div class="container">
			<div class="col-md-7">
				<div class="col-md-10">
					<h1 class="banner-caption">
						The safest way to make your will..
					</h1>
					<div class="subtitle">
						Secured and convenient way to protect your loved ones. Tell us where you live to get started.
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-10">
					<div class="banner-action-wrap">
						<a ng-click="goTo('signup')" class="active">I live in Lagos</a>
						<a ng-click="goTo('elsewhere')"> I live elsewhere</a>
					</div>
				</div>
			</div>
			<div class="col-md-5 hidden-sm hidden-xs">
				<div class="img-wrap">
					<img src="images/family_.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="our-selling-points">
	<div class="container">
		<div class="section-title-wrap">
			<span class="section-title">How it works in just 15 minutes!</span>
		</div>
		<div class="selling-point-wrap">
			<div class="col-md-6">
				<div class="img-caption" style="background-image: url('images/tab-1.png');"></div>
			</div>	
			<div class="col-md-5 col-md-offset-1">
				<div class="img-description clearfix">
					<div class="col-xs-6 mb-120">
						<div class="hex-wrap">
							<div class="hexagon first"><i class="material-icons">&#xE8FD;</i></div>
							<span class="caption">Answer a few simple questions</span>
						</div>
					</div>
					<div class="col-xs-6 mb-120">
						<div class="hex-wrap">
							<div class="hexagon second"><i class="material-icons">&#xE8AD;</i></div>
							<span class="caption">Print and download instanly</span>
						</div>
					</div>
					<div class="col-xs-6 mb-120">
						<div class="hex-wrap">
							<div class="hexagon third"><i class="material-icons">&#xE8F9;</i></div>
							<span class="caption">Schedule an exucution</span>
						</div>
					</div>
					<div class="col-md-6 mb-120">
						<div class="hex-wrap">
							<div class="hexagon forth"><i class="material-icons">&#xE90D;</i></div>
							<span class="caption">Register your biometrics</span>
						</div> 
					</div>	
				</div>
			</div>
		</div>	
	</div>
</section>

<section class="experts">
	<div class="container">
		<div class="col-md-6">
			<div class="info-sec">
				<div class="title">Speak or Chat with our Experts</div>
				<ul>
					<li><i class="fa fa-clock-o" aria-hidden="true"></i> 9am - 6pm, Monday to Sunday</li>
					<li><i class="fa fa-bolt" aria-hidden="true"></i>3 minute response time</li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>Live chat & phone support</li>
					<li><i class="fa fa-skype" aria-hidden="true"></i></i>Video call / Skype with our Experts</li>
					<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Every will reviewed by our Experts</li>
					<li><i class="fa fa-lock" aria-hidden="true"></i>Private and secure with bank grade encryption</li>
				</ul>
				<div class="button-sec">
					<button class="question">Ask a Question</button>
					<button class="number">08060 000 000</button>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="avata-sec hidden-sm hidden-xs">
				<span class="avata big" style="background-image: url('images/1.jpg');"></span>
				<span class="avata small first" style="background-image: url('images/2.jpg');"></span>
				<span class="avata small second" style="background-image: url('images/3.jpg');"></span>
			</div>
		</div>
	</div>
</section>

<section class="testimony-wrapper clearfix">
	<div class="container">
		<div class="section-title-wrap">
			<span class="section-title">Client Testimonial</span>
		</div>
		<div class="testimony-wrapper">
			<div class="col-md-4">
				<div class="testimony-wrap">
					<div class="img-ball" style="background-image: url(images/1.jpg);"></div>
					<div class="content">
						<div class="name">Adewale Bolaji</div>
						<div class="proffesion">Doctor</div>
						<div class="words">Great and wonderful service. Very easy to use, I was done in 15 minute</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="testimony-wrap">
					<div class="img-ball" style="background-image: url(images/2.jpg);"></div>
					<div class="content">
						<div class="name">Bimbo Adewale</div>
						<div class="proffesion">Tailor</div>
						<div class="words">Just got my will sorted out in less than 15 minutes! Thanks Carrot</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="testimony-wrap">
					<div class="img-ball" style="background-image: url(images/3.jpg);"></div>
					<div class="content">
						<div class="name">Jecinta Egwe</div>
						<div class="proffesion">Teacher</div>
						<div class="words">The service was simple, convenient, secure and without hassle.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="clients">
	<div class="section-title-wrap">
		<!-- <span class="section-title">Trusted by thousands.</span> -->
	</div>
	<div class="container">
		<div class="swiper-container">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide" style="background-image: url('images/daon_logo.png');">
	            </div>
	            <div class="swiper-slide" style="background-image: url('images/NBA_logo.png');">
	            </div>
	            <div class="swiper-slide" style="background-image: url('images/pensions_logo.png');">
	            </div>
	            <div class="swiper-slide" style="background-image: url('images/2015-10-29_Interswitch2.png');">
	            </div>
	            <div class="swiper-slide" style="background-image: url('images/FIDO-Alliance-Member-Logo-.png');">
	            </div>
	        </div>
	    </div>
	</div>
</section>

<section class="pricing">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<div class="title">Save hundreds compared to a lawyer</div>
			<div class="caption">We use smart technology to save our customers hundreds of pounds - with real support from humans to make sure we do it right.</div>
			<div class="radio-button-wrap clearfix" ng-init="tab = 'tab1'">
				<div class="rad-btn" ng-click="tab = 'tab1'">
					<div class="d_button" ng-class="{active : tab === 'tab1'}"></div>
					<div class="text" ng-class="{active : tab === 'tab1'}">Wills for Individuals</div>
				</div>
				<div class="rad-btn" ng-click="tab = 'tab2'">
					<div class="d_button" ng-class="{active : tab === 'tab2'}"></div>
					<div class="text" ng-class="{active : tab === 'tab2'}">Wills for Couples</div>
				</div>
			</div>
		</div>

		<div class="price-card-wrap" ng-if="tab === 'tab1'">
			<div class="col-md-12">
				<div class="col-md-6">
					<div class="price-card carrot">
						<div class="p-20-30">
							<div class="choice">Carrot</div>
							<div class="one-time">ONE TIME FEE</div>
							<div class="price">₦10,000</div>
							<ul class="selling-point">
								<li>Comprehensive legal will</li>
								<li>Checked by experts</li>
								<li>Live support</li>
								<li>Takes 15 minutes</li>
							</ul>
							<div class="extra clearfix">
								<ul>
									<li>Unlimited updates</li>
									<li>Updates to the law</li>
								</ul>
								<div class="extra-price">
									<div class="amount">₦3,000</div>
									<div class="amount-caption">PER YEAR</div>
								</div>
							</div>
						</div>
						<a href="#" class="getting-started">Get Started</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="price-card p-20-30">
						<div class="choice">Typical Lawyer</div>
						<div class="one-time">ONE TIME FEE</div>
						<div class="price">₦30,000 - ₦50,000</div>
						<ul class="selling-point">
							<li>Comprehensive legal will</li>
							<li>Checked by experts</li>
							<li class="slash">Live support</li>
							<li class="slash">Takes 15 minutes</li>
							<li class="slash">Unlimited updates</li>
							<li class="slash">Updates to the law</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="price-card-wrap" ng-if="tab === 'tab2'">
			<div class="col-md-12">
				<div class="col-md-6">
					<div class="price-card carrot">
						<div class="p-20-30">
							<div class="choice">Carrot</div>
							<div class="one-time">ONE TIME FEE</div>
							<div class="price">₦8,000</div>
							<ul class="selling-point">
								<li>Comprehensive legal will</li>
								<li>Checked by experts</li>
								<li>Live support</li>
								<li>Takes 15 minutes</li>
							</ul>
							<div class="extra clearfix">
								<ul>
									<li>Unlimited updates</li>
									<li>Updates to the law</li>
								</ul>
								<div class="extra-price">
									<div class="amount">₦3,000</div>
									<div class="amount-caption">EACH PER YEAR</div>
								</div>
							</div>
						</div>
						<a href="#" class="getting-started">Get Started</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="price-card p-20-30">
						<div class="choice">Typical Lawyer</div>
						<div class="one-time">ONE TIME FEE</div>
						<div class="price">₦60,000 - ₦100,000</div>
						<ul class="selling-point">
							<li>Comprehensive legal will</li>
							<li>Checked by experts</li>
							<li class="slash">Live support</li>
							<li class="slash">Takes 15 minutes</li>
							<li class="slash">Unlimited updates</li>
							<li class="slash">Updates to the law</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>


