<style>header#header{display:none;}footer#footer{display:none;} body{background-color: #F9F9F9}</style>
<header class="other-pages">
    <div class="container">
        <div class="col-md-3">
            <ul class="logo-sec text-left">
                <li><a ui-sref="home">Wills & Trusts</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <ul class="nav-sec text-right">
                <li><a ng-class="{ current: isActive('/')}" ui-sref="#">Summary</a></li>
                <li><a ng-class="{ current: isActive('/will')}" ui-sref="#">Edit people</a></li>
                <li><a ng-class="{ current: isActive('/createTrust')}" ui-sref="#">Preferences</a></li>
                <li><a ng-class="{ current: isActive('/login')}" ui-sref="#">Earn rewards</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="page-progress">
    <span class="percentage" style="width: 100%;"></span>
</div>

<section class="basic">
	<div class="container">
		<div class="col-md-6">
			<div class="about-yourself">
                <div class="title">
                    Do you have any children?
                </div>
                <form action="">
                    <div class="select-box">
                        <div class="form-field">
                            <input type="radio" id="yes" name="children"> 
                            <label for="yes" ng-click="showOption = true">
                                Yes
                            </label>
                        </div>
                        <div class="form-field">
                            <input type="radio" id="no" name="children"> 
                            <label for="no" ng-click="showOption = false">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="added-options" ng-if="showAdditon">
                        <ul>
                            <li data-toggle="modal" data-target=".page-modal">
                                <div class="summery-wrap">
                                    <div class="title">Adeyemi Adewale</div>
                                    <div class="date">23/09/1987</div>
                                </div>
                                <div class="edit">
                                    Edit
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="add-options" ng-if="showOption">
                        <ul>
                            <li>
                                <span data-toggle="modal" data-target=".page-modal"><i class="fa fa-plus" aria-hidden="true"></i> Add your first child</span>
                            </li>
                        </ul>
                    </div>
                    <div class="button-wrap clearfix">
                        <div class="col-md-6 text-left p-0">
                            <button class="back" ng-click="back()">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                Back
                            </button>
                        </div>
                        <div class="col-md-6 text-right p-0">
                            <button class="done" ng-click="goTo('summary')" >Save and Proceed</button>
                        </div>
                    </div>
                </form>
            </div>
		</div>	
		<div class="col-md-6">
            <div class="page-note">
                <p>
                    If your first child is on the way, select 'No' for now. Once they're born you can come back and update this.
                </p>
                <p>
                    Step children should not be added here. You can add them later if you wish to leave them part of your estate.
                </p>
            </div>
		</div>	
	</div>
</section>

<footer class="other-pages" class="clearfix">
    <div class="container">
        <div class="col-md-6">
            <div class="privacy text-left">
                <ul>
                	<li><a href="">Privacy</a></li>
                	<li><a href="">Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="links text-right">
                <ul>
                	<li><a href="">Contact</a></li>
                	<li><a href="">Help</a></li>
                	<li><a href="">Pricing</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade page-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-md page-modal-wrap" role="document">
    <div class="modal-content page-modal">
        <div class="header-section clearfix">
            <span class="text">Add a new child</span>
            <span class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">&#xE14C;</i></span>
        </div>
        <div class="content-section">
            <form action="">
                <div class="form-wrap">
                    <label for="">Your child's full name</label>
                    <input type="email" placeholder="Your child's full name">
                </div>
                <div class="form-wrap">
                    <label for="">Your contact's date of birth</label>
                    <input type="email" placeholder="Your contact's date of birth">
                </div>
                <div class="note">
                    If your child has a disability or needs guardianship after the age of 18, we recommend you seek specialist advice.
                </div>
                <button data-dismiss="modal" ng-click="showAdditon = true" aria-label="Close">Save Child</button>
            </form>
        </div>
    </div>
  </div>
</div>